<div class="container">
  <form action="" class="formulario">
    <h1>Login</h1>
    <p>
      <label for="user">Usuario:</label>
      <input type="text" name="user" id="user" [(ngModel)]="user">
    </p>
    <p>
      <label for="pass">Password:</label>
      <input type="password" name="pass" id="pass" [(ngModel)]="pass">
    </p>
    <div class="validar">
      <button (click)="verificarDatos()">Login</button>
    </div>
  </form>
</div>

<div class="mensajes" *ngIf="correcto">
  <span>Bienvenido usuario:</span>
  <nav>
    <a href="">Home</a>
    <a href="">Support</a>
    <a href="">Contatc</a>
  </nav>
</div>
<p class="mensaje2" *ngIf="incorrecto">
  Credenciales incorrectas, inténtelo nuevamente.
</p>